* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.app {
  color: white;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  background-color: #ff9800;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.text-content {
  margin-left: 20px;
  margin-top: 100px;
}

.text-content h1 {
  font-size: 20;
  margin: 0;
}

.text-content p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.image-content img {
  margin-left: 100px;
  width: 24rem;
  flex: 1 1 45%;
  height: 24rem;
  border-radius: 50%;
  box-sizing: border-box;
}

.platforms-list {
  list-style: none;
  width: 100%;
}

.platforms-list li {
  display: inline-block;
  background-color: #4d4d4d;
  white-space: nowrap;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.5s;
  margin-left: 10px;
}
